// Sidebar Button
.fa {
  transition: 0.5s transform ease-in-out;
}

.collapsed .fa {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

//

.navbar {
  width: 100%;
  -webkit-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.18);
  z-index: 995;
  background-color: white;
  color: gray;
  transition: background-color 1000ms ease-in, color 1000ms ease-in;
  //-webkit-transition: background-color,color 1000ms linear;
  //-o-transition: background-color,color 1000ms linear;
  //-moz-transition: background-color,color 1000ms linear;
  font-family: 'AlleynW01-Regular', sans-serif;
  //background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
}

.navbar-brand {
  font-size: xx-large;
  padding: 0;
  //transition: color 250ms linear !important;
}

.nav-link {
  padding-top: 0;
  padding-bottom: 0;
  font-size: x-large;
  vertical-align: middle;
  //color: darkgray;
}

.nav-link:hover {
  color: #2b2b2b;
  cursor: pointer;
}

.navbar-brand:hover {
  color: #2b2b2b;
  cursor: pointer;
}

@media (max-width: 575px) {
  .navbar {
    height: 2.5rem;
  }
  .nav-link {
    font-size: 1.0rem;
    padding-bottom: 0.2rem;
  }
  .navbar-brand {
    font-size: 1.3rem;
  }
}

@media (max-width: 316px) {
  .navbar {
    height: 2.3rem;
  }
  .nav-link {
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
  }
  .navbar-brand {
    font-size: 1.0rem;
  }
}

@media (max-width: 270px) {
  .navbar {
    height: 2.0rem;
  }
  .nav-link {
    font-size: 0.5rem;
    padding-bottom: 0.2rem;
  }
  .navbar-brand {
    font-size: 0.9rem;
  }
}


// Colors
.black {
  background-color: #607d8b !important;
  color: white !important;
}

.blue {
  background-color: #81d4fa !important;
  color: white !important;
}

.brown {
  background-color: #bcaaa4 !important;
  color: white !important;
}

.gray {
  background-color: #e0e0e0 !important;
  color: white !important;
}

.green {
  background-color: #81c784 !important;
  color: white !important;
}

.pink {
  background-color: #f8bbd0 !important;
  color: white !important;
}

.purple {
  background-color: #e1bee7 !important;
  color: white !important;
}

.red {
  background-color: #ff8a80 !important;
  color: white !important;
}

.white {
  background-color: #d5dbe1 !important;
  color: dimgray !important;
}

.yellow {
  background-color: #ffd600 !important;
  color: white !important;
}

//////////////

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}


// My SearchBar
.search-bar {
  margin-top: -7px !important;
}

.search-bar-form {
  opacity: 1;
  transition: all 1s;
  visibility: visible;
}

.search-fade {
  opacity: 0;
  visibility: hidden;
}

.back-arrow {
  margin: 0;
  padding-top: 0;
  opacity: 1;
  transition: all 1s;
  visibility: visible;
}

.back-arrow-fade{
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 575px) {
  form {
    padding-bottom: 0px;
    padding-top: 5px !important;
  }
  .search-bar {
    margin-top: -7px !important;
    max-height: 26px;

    .form-control {
      max-height: 26px;
    }
  }
  #searchIcon {
    padding: 0px 10px;
  }
}
