.navbar {
  color: gray;
  a, button {
    color: inherit;
    &:hover{
      color: #2b2b2b;
      cursor: pointer;
    }
  }
  // a:hover{
  //     color: #2b2b2b;
  //     cursor: pointer;
  // }
  background-color: white;
  -webkit-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.18);
  transition: background-color 500ms ease-in,
  color 500ms ease-in;
}

.modal {
  color: gray;

  a:hover {
    text-decoration: none;
  }

  .heading {
    font-size: larger;
  }
}

.installBtn {
  border: 1px solid gray;
  padding: 3px 4px;
  border-radius: 4px;
  transition: all 250ms ease-in-out;
  font-size: x-large;
}

.installBtn:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
}

.switch {
  margin-top: 1px;
}

.navbar-brand {
  font-size: xx-large;
  padding: 0;
}

// .nav-link {
//   padding-top: 0;
//   padding-bottom: 0;
//   font-size: x-large;
//   vertical-align: middle;
// }

// .nav-link:hover {
//   color: #2b2b2b;
//   cursor: pointer;
// }



@media (max-width: 575px) {
  .navbar {
    height: 2.5rem;
  }

  .nav-link {
    font-size: 1.0rem;
    padding-bottom: 0.2rem;
  }

  .navbar-brand {
    font-size: 1.3rem;
  }
}

@media (max-width: 316px) {
  .navbar {
    height: 2.3rem;
  }

  .nav-link {
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
  }

  .navbar-brand {
    font-size: 1.0rem;
  }
}

@media (max-width: 270px) {
  .navbar {
    height: 2.0rem;
  }

  .nav-link {
    font-size: 0.5rem;
    padding-bottom: 0.2rem;
  }

  .navbar-brand {
    font-size: 0.9rem;
  }
}


// Colors
.black {
  background-color: #607d8b ;
  color: white;
}

.blue {
  background-color: #81d4fa ;
  color: white;
}

.brown {
  background-color: #bcaaa4 ;
  color: white;
}

.gray {
  background-color: #a6a6a6 ;
  color: white;
}

.green {
  background-color: #81c784 ;
  color: white;
}

.pink {
  background-color: #f8bbd0 ;
  color: white;
}

.purple {
  background-color: #ad8ee7 ;
  color: white;
}

.red {
  background-color: #ff8a80;
  color: white;
}

.white {
  background-color: #d5dbe1 ;
  color: dimgray;
}

.yellow {
  background-color: #ffd600 ;
  color: white;
}

// SearchBar
.search-bar {
  margin-top: -7px !important;
}

.search-bar-form {
  opacity: 1;
  transition: all 1s;
  visibility: visible;
}

.search-fade {
  opacity: 0;
  visibility: hidden;
}

.back-arrow {
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  opacity: 1;
  transition: opacity 1s;
  visibility: visible;
}

.back-arrow-fade {
  opacity: 0;
  visibility: hidden;
}

.form-control:focus {
  box-shadow: none;
}

// Material Buttons
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

  input[type='checkbox'],
  input[type='radio'] {
    --active: gray;
    --active-inner: #fff;
    --focus: 2px black;
    --border: gray;
    --border-hover: black;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;

    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }

    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;

      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }

      &+label {
        cursor: not-allowed;
      }
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }

    &:not(.switch) {
      width: 21px;

      &:after {
        opacity: var(--o, 0);
      }

      &:checked {
        --o: 1;
      }
    }

    &+label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }

  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;

      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }

      &:checked {
        --r: 43deg;
      }
    }

    &.switch {
      width: 38px;
      border-radius: 11px;

      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }

      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }

      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }

  input[type='radio'] {
    border-radius: 50%;

    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }

    &:checked {
      --s: .5;
    }
  }
}

@media (max-width: 575px) {
  form {
    padding-bottom: 0px;
    padding-top: 6px !important;
  }

  .search-bar {
    margin-top: -7px !important;
    max-height: 26px;

    .form-control {
      max-height: 26px;
    }
  }

  .modal-body {
    font-size: smaller;

    .installBtn {
      font-size: medium;
    }
  }

  #searchIcon {
    padding: 0px 10px;
  }
}