<nav class="navbar sticky-top navbar-expand" id="header" [ngClass]="color">
    <ul class="navbar-nav mt-2">
      <li class="nav-link"><a class="mx-auto" (click)="toggleSidebar()" [ngClass]="{'collapsed':getSideBarState()}">
        <i class="fa fa-chevron-left" aria-hidden="true" ></i>
      </a></li>
<!--      <li class="nav-link">-->
<!--        <a class="" (click)="toggleBackgroundImage()"><i class="fa fa-tree"></i></a>-->
<!--      </li>-->
      <li class="nav-item">
        <form action="">
          <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </form>
<!--        <form class="navbar-form" role="search">-->
<!--          <div class="input-group">-->
<!--            <input type="text" class="form-control rounded" placeholder="Search" name="q" style="max-height: 23px;">-->
<!--            <i class="fa fa-search" aria-hidden="true"></i>-->
<!--            <div class="input-group-btn" >-->
<!--              <button class="btn btn-default" type="submit"></button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--        <div class="searchbar">-->
<!--          <input class="search_input" type="text" name="" placeholder="Search...">-->
<!--          <a class="search_icon"><i class="fas fa-search"></i></a>-->
<!--        </div>-->
<!--        <a class="nav-link">All Pokémons</a>-->
      </li>
    </ul>
  <a class="navbar-brand ml-auto">PokéDex</a>
</nav>
