.fa {
  transition: 0.5s transform ease-in-out;
}
.collapsed .fa{
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.navbar{
  -webkit-box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.18);
  z-index: 995;
  font-family: 'AlleynW01-Regular', sans-serif;
  //background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
}

.navbar-brand{
  font-size: xx-large;
  padding: 0;
}

.nav-link{
  padding-top: 0;
  padding-bottom: 0;
  font-size: x-large;
  vertical-align: middle;
}

@media (max-width: 575px){
  .nav-link{
    display: none;
  }
}

// Colors
.black{
  background-color: #607d8b !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.blue{
  background-color: #81d4fa !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.brown{
  background-color: #bcaaa4 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.gray{
  background-color: #e0e0e0 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.green{
  background-color: #81c784 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.pink{
  background-color: #f8bbd0 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.purple{
  background-color: #e1bee7 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.red{
  background-color: #ff8a80 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.white{
  background-color: #e0e0e0 !important;
  color: dimgray !important;
  transition: background-color 1000ms ease-in;
}
.yellow{
  background-color: #ffd600 !important;
  //background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.default{
  transition: background-color 1000ms ease-out;
}
