<nav class="navbar sticky-top navbar-expand" id="header" [ngClass]="color">
    <ul class="navbar-nav mt-2">
      <li class="nav-link"><a class="mx-auto" (click)="toggleSidebar()" [ngClass]="{'collapsed':getSideBarState()}">
        <i class="fa fa-chevron-left" aria-hidden="true" ></i>
      </a></li>
<!--      <li class="nav-link">-->
<!--        <a class="" (click)="toggleBackgroundImage()"><i class="fa fa-tree"></i></a>-->
<!--      </li>-->
      <li class="nav-item">
        <form action="">
          <div class="bg-light rounded rounded-pill shadow-sm align-content-center">
            <div class="input-group">
              <input name="search" type="search" placeholder="Search..." [(ngModel)]="searchText" (input)="typing($event.target.value)"
                     aria-describedby="button-addon1" class="form-control border-0 bg-light rounded-pill">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </form>
      </li>
    </ul>
  <a class="navbar-brand ml-auto">PokéDex</a>
</nav>
