.fa {
  transition: 0.5s transform ease-in-out;
}
.collapsed .fa{
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.navbar{
  -webkit-box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 40px 8px rgba(0,0,0,0.18);
  z-index: 995;
}

.navbar-brand{
  font-size: xx-large;
  padding: 0;
}

.nav-link{
  padding-top: 0;
  padding-bottom: 0;
  font-size: x-large;
  vertical-align: middle;
}

@media (max-width: 575px){
  .nav-link{
    display: none;
  }
}

// Colors
.black{
  background-color: #424242 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.blue{
  background-color: #29b6f6 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.brown{
  background-color: #795548 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.gray{
  background-color: #757575 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.green{
  background-color: #4caf50 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.pink{
  background-color: #f48fb1 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.purple{
  background-color: #7e57c2 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.red{
  background-color: #e57373 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.white{
  background-color: #e0e0e0 !important;
  color: dimgray !important;
  transition: background-color 1000ms ease-in;
}
.yellow{
  background-color: #fff176 !important;
  color: white !important;
  transition: background-color 1000ms ease-in;
}
.default{
  transition: background-color 1000ms ease-out;
}
