virtual-scroller {
  width: 100vw;
  //width: calc(100vw - 9rem);
  height: 91vh;
  //height: calc(100vh - #{$nav-height});
  //justify-content: center !important;
  //display: flex;
}

.scrollable-content {
  justify-content: center !important;
}

app-pokemon-item {
  display: inline-block !important;
}

.row {
  justify-content: center !important;
}
