virtual-scroller {
  //width: /;
  display: flex;
  flex: auto;
  flex-direction: column;
  //max-width: max-content;
  height: 91vh;
  //height: calc(100vh - #{$nav-height});
  text-align: center;
  justify-content: center !important;
  //display: flex;
}

.scrollable-content {
  justify-content: center !important;
}

app-pokemon-item {
  display: inline-flex !important;
}

.row {
  justify-content: center !important;
}
