virtual-scroller {
  display: flex;
  flex: auto;
  flex-direction: column;
  height: calc(100vh - 64px);
  text-align: center;
}

.pokemon-list{
  will-change: scroll-position;
  margin-left: -15px;
  margin-right: -15px;
}

.scrollable-content {
  will-change: scroll-position;
}

app-pokemon-item {
  display: inline-block;
}

.faded {
  opacity: 0;
}

.fade {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@media(max-width: 575px) {
  virtual-scroller {
    height: calc(100vh - 40px);
  }
}

@media(max-width: 316px) {
  virtual-scroller {
    height: calc(100vh - 36.8px);
  }
}

@media(max-width: 270px) {
  virtual-scroller {
    height: calc(100vh - 32px);
  }
}