<!--<cdk-virtual-scroll-viewport style="height: 90vh" itemSize="128" minBufferPx="150" maxBufferPx="250">-->
<!--  <span *cdkVirtualFor="let pokemon of pokemons |  searchFilter: searchItem ; let i = index; templateCacheSize: 0">-->
<!--    <app-pokemon-item [pokemon]="pokemon"></app-pokemon-item>-->
<!--  </span>-->
<!--</cdk-virtual-scroll-viewport>-->

<div class="row justify-content-center" #scrollingBlock>
  <virtual-scroller #scroll [items]="pokemons| searchFilter: searchItem" [parentScroll]="scrollingBlock"
                    class="justify-content-center" bufferAmount="5">
    <app-pokemon-item *ngFor="let pokemon of scroll.viewPortItems; let i = index;"
                      [pokemon]="pokemon"></app-pokemon-item>
  </virtual-scroller>
</div>

<!--<cdk-virtual-scroll-viewport style="height: 90vh" itemSize="128" minBufferPx="150" maxBufferPx="250">-->
<!--  <span *cdkVirtualFor="let pokemon of pokemons |  searchFilter: searchItem ; let i = index; templateCacheSize: 0">-->
<!--    <app-pokemon-item [pokemon]="pokemon"></app-pokemon-item>-->
<!--  </span>-->
<!--</cdk-virtual-scroll-viewport>-->

<!--<div class="row justify-content-center">-->
<!--    <app-pokemon-item *ngFor="let pokemon of pokemons | searchFilter: searchItem; let i = index;"-->
<!--                      [pokemon]="pokemon"></app-pokemon-item>-->
<!--</div>-->

<!--<cdk-virtual-scroll-viewport itemSize="1000" style="height:100%">-->
<!--  <div *cdkVirtualFor="let item of list">{{item}}</div>-->
<!--</cdk-virtual-scroll-viewport>-->
