<div class="col-12">
  <button type="button" class="btn" routerLink="../"><i class="fa fa-backward"></i></button>
  <h1 class="text-center text-capitalize">{{pokemon.name}}</h1>
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-borderless">
        <thead>
        </thead>
        <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <img class="img-fluid" src="{{pokemonImageUrl}}" alt="">
    </div>
    <div class="col-lg-4">
      Text
    </div>
  </div>

</div>
