<div class="col-12">
  <button type="button" class="btn" routerLink="../"><i class="fa fa-backward"></i></button>
  <h1 class="text-center text-capitalize">{{pokemon.name}}</h1>
  <div class="row">
    <div class="col-lg-4">
      <table class="table table-borderless">
        <thead>
        </thead>
        <tbody>
        <tr>
          <td>Height :</td>
          <td>{{pokemon.height}}</td>
        </tr>
        <tr>
          <td>Weight</td>
          <td>{{pokemon.weight}}</td>
        </tr>
        <tr>
          <td>Abilities</td>
          <td>{{pokemon.abilities[1]['ability']['name']}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <img class="img-fluid" src="{{pokemonImageUrl}}" alt="">
    </div>
    <div class="col-lg-4">
      Text
    </div>
  </div>

</div>
