//Type Box
.icon {
  border-radius: 4px;
  height: 30px;
  width: 90px;
  filter: saturate(100%) brightness(110%);
  transition: 200ms all;
  margin: 0 0 0 17px;

}

.icon span {
  color: white;
}

.icon .col-4 {
  padding: 0;
}

.icon .col-8 {
  padding: 5px 0 0 5px;
  margin: 0 0 0 0;
}

.icon:hover {
  filter: saturate(120%) brightness(115%);
  transform: scale(1.05);
  //transform: scale(1.01) rotate3d(0,1,0,360deg);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
}

.ability:hover {
  cursor: pointer;
}
.hiddenAbility{
  background-color: #4b4b4b;
}

#test p {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
