.MainDiv {
  font-family: 'AlleynW01-Regular', sans-serif;
  color: #505050;
}

.bioDiv {
  * {
    color: #505050;
  }
}

.statDiv {


  .table > tr > td:first-child {
    color: #505050;
  }

  .table > tr:first-child > td > button {
    color: #505050;
  }

}

//Type Box
.icon {
  border-radius: 4px;
  height: 30px;
  width: 90px;
  filter: saturate(100%) brightness(110%);
  transition: 200ms all;
  margin: 0 0 0 15px;

}

.Section-Heading {
  opacity: 1;
  transition: opacity .6s ease-in-out;
  color: #6d6d6d;
}

.Heading {
  font-size: x-large;
  color: #6d6d6d;
}

.bioDiv {
  padding-right: 0;
  //padding-left: 5rem;
  margin-right: 0;
  opacity: 1;
  transition: opacity .6s ease-in-out;
}

.Image {
  opacity: 1;
  transition: opacity .6s ease-in-out;
}

// fOut at the Buttom

.statDiv {
  padding-left: 0;
  padding-right: 3rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.statDiv .inner {
  //padding-right: 3rem;
}

.progress {
  //width: 300px;
}


// Type Icons
.icon span {
  color: white;
}

.icon .col-4 {
  padding: 0;
}

.icon .col-8 {
  padding: 5px 0 0 5px;
  margin: 0 0 0 0;
}

.icon:hover {
  //will-change: filter;
  //filter: saturate(120%) brightness(115%);
  //transform: scale(1.05);
  //transform: scale(1.01) rotate3d(0,1,0,360deg);
  //cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
}


// Abilities Styling
.abilities, .varieties:hover {
  cursor: pointer;
}

.ability, .variety {
  border-radius: 2px;
  padding: 2px 3px;
  margin-right: 6px;
  white-space: nowrap;
  line-height: initial;
}

.variety {
  margin-top: 5px;
  display: inline-block;
}

.formsBlock {
  padding-top: 8px;
}

.hiddenAbility, .selectedForm, .selectedEvo {
  filter: brightness(110%) saturate(50%);
}

// Fade-In Effect For Image
.fadeInOut {
  -moz-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  -webkit-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
  opacity: 0;
}

.fadeImg {
  opacity: 1;
}

// Fade-In Effect For Other Elements
.fadeIn {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  animation-name: fadein;
  animation-play-state: running;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Perspective only for desktops
@media only screen and (min-width: 992px) {
  // BioDIv
  .bioDiv {
    perspective: 400px; // Increases Effect
    margin: auto 0;
    width: 37em;
  }

  .bioDiv:hover .inner {
    transform: rotate(0)

  }

  .bioDiv .inner {
    transition: .3s;
    transform: rotateY(30deg);
  }
  // statDiv
  .statDiv {
    perspective: 400px;
    margin: 4em auto;
    width: 37em;
    padding-left: 0;
    padding-right: 1rem; // Changed 0 earlier
    -webkit-font-smoothing: antialiased !important;
    //-webkit-filter: blur(0);
    //-webkit-backface-visibility: hidden;
    //-webkit-transform: translateZ(0) scale(1.0, 1.0);
    //transform: translateZ(0);
    //margin-right: 30px;
  }

  .statDiv:hover .inner {
    transform: rotate(0);
  }

  .statDiv .inner {
    transition: .3s;
    transform: rotateY(-30deg);
  }
}

//Initial Stat Bar Color
.progress {
  //height: 20px;
}

.progress-bar {
  background-color: white;
  width: 0;
  //height: 20px;
  font-size: 1rem;
  text-align: right;
  //transition: width 1s ease-in;
}

.progress-bar span {
  padding-right: 4px;
}


// Text-Only Colors
.black-text {
  color: #607d8b !important;
  transition: color 1000ms ease-in, width 1500ms ease-in-out;
}

.blue-text {
  color: #3aaee4 !important;
  transition: color 1000ms ease-in, width 1500ms ease-in-out;
}

.brown-text {
  color: #a69791 !important;
  transition: color 1000ms ease-in, width 1500ms ease-in-out;
}

.gray-text {
  color: #949393 !important;
  transition: color 1000ms ease-in, width 1500ms ease-in-out;
}

.green-text {
  color: #68c96d !important;
  transition: color 1000ms ease-in, width 1500ms ease-in-out;
}

.pink-text {
  color: #ea89ab !important;
  transition: color 1000ms ease-in, width 1500ms ease-in-out;
}

.purple-text {
  color: #ad8ee7 !important;
  transition: color 1000ms ease-in, width 1500ms ease-in-out;
}

.red-text {
  color: #ff8a80 !important;
  transition: color 1000ms ease-in, width 1500ms ease-in-out;
}

.white-text {
  color: dimgray !important;
  transition: color 1000ms ease-in, width 1500ms ease-in-out;
}

.yellow-text {
  color: #dcb800 !important;
  transition: color 1000ms ease-in, width 1500ms ease-in-out;
}

// Colors
.black {
  background-color: #607d8b !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.blue {
  background-color: #81d4fa !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.brown {
  background-color: #bcaaa4 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.gray {
  background-color: #a6a6a6 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.green {
  background-color: #81c784 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.pink {
  background-color: #f8bbd0 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.purple {
  background-color: #ad8ee7 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.red {
  background-color: #ff8a80 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.white {
  background-color: #d5dbe1 !important;
  color: dimgray !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.yellow {
  background-color: #ffd600 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}


// Colors For Abilities
.modal-content {
  -webkit-box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.13);
}


.genera:hover {
  cursor: pointer;
}

@media(max-width: 991px) {
  .bioDiv {
    padding-left: 0 !important;
  }
  .bioDiv .inner {
    padding: 0 !important;
  }
  .ability, .variety {
    white-space: pre !important;
  }
  table td {
    padding: 0.50rem;
  }
  .formsBlock {
    padding-top: 4px !important;
  }
}

@media(max-width: 500px) {
  .Section-Heading {
    font-size: x-large;
  }
  table td {
    padding: 0.50rem;
  }
  .abilities, .varieties {
    font-size: small !important;
  }
  .varieties {
    display: inline-block; // new
  }
  //.formsBlock {
  //  max-width: 75vw;
  //}
  .bioDiv .inner {
    width: min-content;
  }
  .statDiv .inner {
    padding-top: 1rem;
  }
  .statDiv {
    padding-right: 0 !important;
  }
  #abilityModal {
    font-size: small !important;
  }
  #descModal {
    font-size: small !important;
  }
}

@media(max-width: 340px) {
  //.abilities, .varieties {
  //  font-size: x-small !important;
  //}
  .statDiv .inner {
    font-size: x-small !important;
    padding-top: 1rem;
  }
  #abilityModal {
    font-size: x-small !important;
  }
  #descModal {
    font-size: x-small !important;
  }
}

//.pkmn-red {
//  background-color: red;
//}
//
//.pkmn-green {
//  background-color: green;
//}
//
//.pkmn-blue {
//  background-color: blue;
//}
//
//.pkmn-yellow {
//  background-color: yellow;
//}
//
//.pkmn-gold {
//  background-color: gold;
//}
//
//.pkmn-silver {
//  background-color: silver;
//}
//
//.pkmn-crystal {
//  background-color: cornflowerblue;
//}
//
//.pkmn-ruby {
//  background-color: orangered;
//}
//
//.pkmn-sapphire {
//  background-color: dodgerblue;
//}
//
//.pkmn-emerald {
//  background-color: forestgreen;
//}
//
//.pkmn-firered {
//  background-color: red;
//}
//
//.pkmn-leafgreen {
//  background-color: green;
//}
//
//.pkmn-diamond {
//  background-color: red;
//}
//
//.pkmn-pearl {
//  background-color: green;
//}
//
//.pkmn-platinum {
//  background-color: blue;
//}
//
//.pkmn-heartgold {
//  background-color: red;
//}
//
//.pkmn-soulsilver {
//  background-color: green;
//}
//
//.pkmn-black {
//  background-color: black;
//}
//
//.pkmn-white {
//  background-color: white;
//}
//
//.pkmn-black2 {
//  background-color: black;
//}
//
//.pkmn-white2 {
//  background-color: white;
//}
//
//.pkmn-x {
//  background-color: blue;
//}
//
//.pkmn-y {
//  background-color: red;
//}
//
//.pkmn-omegaruby {
//  background-color: green;
//}
//
//.pkmn-alphasapphire {
//  background-color: blue;
//}
//
//.pkmn-sun {
//  background-color: red;
//}
//
//.pkmn-moon {
//  background-color: green;
//}
//
//.pkmn-ultrasun {
//  background-color: blue;
//}
//
//.pkmn-ultramoon {
//  background-color: red;
//}

.image-container {
  position: relative;
  padding-bottom: calc(85% + 10px); /* ratio of image height to width */
  height: 0;
  overflow: hidden;
  margin: auto;
  //display: contents; to fix vertical align bug after fixing the species preload issue
}

.image-container img {
  position: relative;
  top: 0;
  left: 0;
  //height: auto;
}


// Mega-Sigil

.mega-sigil {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 105;
  width: auto;
  height: 50%;
  animation-name: sigil-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  //will-change: opacity, filter;
}

.sigil-animate {
  animation-duration: 4s;
}

.sigil-end {
  animation-name: sigil-end;
  animation-duration: 2.1s;
  animation-iteration-count: 1;
}

@keyframes sigil-animation {
  0% {
    filter: brightness(100%) saturate(100%);
  }
  25% {
    filter: brightness(125%) saturate(125%);
  }
  50% {
    filter: brightness(150%) saturate(150%);
  }
  100% {
    filter: brightness(100%) saturate(100%);
  }
}

@keyframes sigil-end {
  0% {
    transform: scale(1.0) translate(-50%, -50%);
  }
  25% {
    opacity: 1;
    filter: brightness(125%) saturate(125%);
    transform: scale(1.1) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    filter: brightness(150%) saturate(150%);
    transform: scale(1.2) translate(-50%, -50%);
  }
  //100% {
  //  opacity: 0;
  //  filter: brightness(200%) saturate(200%);
  //  transform: scale(1.3) translate(-50%, -50%);
  //}
}

// Mega Sphere

.megaSphere {
  will-change: opacity, transform;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) scale(0.9);
  z-index: 101;
  width: 87%;
  height: 98%;
  border-radius: 50%;
  animation-name: mega-sphere;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 1s;
  //transform-origin: 0 0;
  box-shadow: inset 0 0 20px 0px #fff, /*white-border*/
  inset 0 0 50px 10px #fff, /*white*/
  inset 0 -20px 30px 0px #f0f, /*pink*/
  inset 0 -40px 30px 10px #4574f5, /*blue*/
  inset 0 -45px 45px 40px #8cc2ff, /*sky-blue*/
  inset 0 -90px 40px 30px #45ff5e, /*green*/
  inset 0 -120px 40px 30px #c1ff45, /*yellow-green*/
  inset 0 10px 10px 40px #fdffb5, /*yellow-white*/
  inset 0 20px 300px 10px #f9ff42, /*yellow*/
  0 0 50px #fff,
  0 0px 10px #f0f,
  //0 -5px 30px 0px #f9ff42,
  //0 10px 80px #f0f;
}

@keyframes mega-sphere {
  0% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  25% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  75% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

// Bubbles
@keyframes move {
  100% {
    transform: translate3d(0, 0, -1000px);
  }
}

.bubbles {
  will-change: opacity;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 102;
  height: 100%;
  padding: 0;
  width: 100%;
  transform-style: preserve-3d;
  overflow: hidden;
}

.bubble-wrap {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 600px;
}

.bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  opacity: .7;
  border-radius: 50%;
  animation: move 2s infinite;
  animation-direction: reverse;
  box-shadow: 0 0 10px 5px #fff,
  inset 0 0 10px 1px #FFF;
}

@for $i from 1 through 1000 {
  .bubble:nth-child(#{$i}) {
    $size: random(30)+px;
    top: (random(70)*1%)+15%;
    left: (random(70)*1%)+15%;
    height: $size;
    width: $size;
    animation-delay: -$i * .1s;
    transform: translate3d((random(2000) * 1px)-1000px, (random(2000) * 1px)-1000px, (random(4000) * 1px));
    background: hsl(random(360), 75%, 80%);
  }

}


.fOut {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.fIn {
  opacity: 1;
}

.DNE {
  text-align: center;
  color: #626262;
  padding: 0.3rem;
}

.evo-img:hover {
  cursor: pointer;
}

.evo-div {
  align-self: center;
}

.multi-evo-stage {
  display: flex;
  flex-direction: column;
}

.evo-name {
  margin-bottom: 8px;

  span:hover {
    cursor: pointer;
  }

  border-radius: 2px;
  padding: 2px 3px;
  white-space: nowrap;
  line-height: initial;
}

.evo-id {
  color: #626262;
  padding-bottom: 2px;
}

.evo-types, .typeDefencesRow, .moveTypes {
  text-align: center;
  margin: 0;

  .icon {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    transition: 200ms all;
    margin: 5px;
    display: inline-flex;
  }

  .icon:hover {
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
  }

  .icon img {
    height: 60%;
    width: 60%;
    //margin: 20%;
  }
}

.arrow-div {
  align-self: center;
  text-align: center;
  flex-direction: column-reverse;
  display: flex;
}

.evo-arrow {
  width: auto;
  height: 40px;
  margin: auto;
}

.evo-desc {
  color: #626262;
}

.multi-arrow-stage {
  align-self: center;
  display: flex;
  flex-direction: column;

  .col-sm {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 70px;
    padding-top: 70px;
  }
}


.eeveeRow1, .eeveeRow2, .eeveeRow3 {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
}

.eeveeRow2 {
  .arrow-div {
    flex-basis: 100%;
  }

  .col-sm {
    display: flex;
    flex-direction: column;

    img {
      transform: rotate(-90deg);
    }
  }
}

.eeveeRow3 {
  .col-sm {
    flex-basis: 100% !important;
  }
}

.corner1 {
  padding-right: 0;
  padding-left: 50%;

  img {
    transform: rotate(-135deg) !important;
  }
}

.corner2 {
  padding-right: 50%;
  padding-left: 0;

  img {
    transform: rotate(-45deg) !important;
  }
}

.corner3 {
  padding-right: 0;
  padding-left: 50%;

  img {
    transform: rotate(135deg) !important;
  }
}

.corner3-4 {
  img {
    transform: rotate(90deg) !important;
  }
}

.corner4 {
  padding-right: 50%;
  padding-left: 0;

  img {
    transform: rotate(45deg) !important;
  }
}

.SubSections {
  div {
    width: auto;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
  }

  * {
    color: #505050;
  }
}

.typeDefencesRow {
  div {
    padding-bottom: initial;
    padding-top: initial;
  }
}

.TypeEffDiv {
  .inner {
    /* Remove the top border when a table is missing the header */
    .table > tr:first-child > td {
      border: none;
    }

    /* Include the border when there's a header */
    //.table > thead + tbody > tr:first-child > td {
    //  border-top: 1px solid #ddd;
    //}
    table th, table td {
      vertical-align: middle;
    }
  }
}


.gender-male {
  color: skyblue !important;
}

.gender-female {
  color: hotpink !important;
}

.ColoredButton {
  padding: 2px 3px;
  border-radius: 0.25rem;
}

.ColoredButton:hover {
  cursor: pointer;
}


.scrollableTable {
  .table-fixed tr {
    display: flow-root !important;
  }

  .black {
    tbody tr:hover:not(.NotFoundText) {
      background-color: #9fb7c2;
      cursor: pointer;
    }

    tr:hover td:not(.NotFoundText) {
      color: white;
    }
  }

  .blue {
    tbody tr:hover:not(.NotFoundText) {
      cursor: pointer;
      background-color: #a3e2ff;
    }

    tr:hover td:not(.NotFoundText) {
      color: white;
    }
  }

  .brown {
    tbody tr:hover:not(.NotFoundText) {
      cursor: pointer;
      background-color: #d0c7c5;
    }

    tr:hover td:not(.NotFoundText) {
      color: white;
    }
  }

  .gray {
    tbody tr:hover:not(.NotFoundText) {
      cursor: pointer;
      background-color: #cccccc;
    }

    tr:hover td:not(.NotFoundText) {
      color: white;
    }
  }

  .green {
    tbody tr:hover:not(.NotFoundText) {
      cursor: pointer;
      background-color: #b2deb4;
    }

    tr:hover td:not(.NotFoundText) {
      color: white;
    }
  }

  .pink {
    tbody tr:hover:not(.NotFoundText) {
      cursor: pointer;
      background-color: #fbd2e1;
    }

    tr:hover td:not(.NotFoundText) {
      color: white;
    }
  }

  .purple {
    tbody tr:hover:not(.NotFoundText) {
      cursor: pointer;
      background-color: #c9b2f3;
    }

    tr:hover td:not(.NotFoundText) {
      color: white;
    }
  }

  .red {
    tbody tr:hover:not(.NotFoundText) {
      cursor: pointer;
      background-color: #ffb4ad;
    }

    tr:hover td:not(.NotFoundText) {
      color: white;
    }
  }

  .white {
    tbody tr:hover:not(.NotFoundText) {
      cursor: pointer;
      background-color: #ffffff;
    }

    tr:hover td:not(.NotFoundText) {
      color: dimgray;
    }
  }

  .yellow {
    tbody tr:hover:not(.NotFoundText) {
      cursor: pointer;
      background-color: #ffe15f;
    }

    tr:hover td:not(.NotFoundText) {
      color: white;
    }
  }

  .table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
  }

  .table-fixed thead,
  .table-fixed tbody,
  .table-fixed tr,
  .table-fixed td,
  .table-fixed th {
    display: block;
  }

  .table-fixed tbody td,
  .table-fixed tbody th,
  .table-fixed thead > tr > th {
    float: left;
    position: relative;

    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }
}

.table-responsive {
  padding-top: 0 !important;
  background-color: #abf098;
  border-radius: 6px;

  th {
    font-weight: 200;
    color: white;
    border-top: none;
  }

  .table thead th {
    border-bottom: none;
  }

  tbody {
    min-width: 260px;
    background-color: #f4ffe6;
    transition: 0.5s height ease-in-out;
  }
}

.table-responsive.white {
  th {
    font-weight: 200;
    color: #505050;
  }
}

.black .table tbody {
  background-color: #f3f8fa;
}

.blue .table tbody {
  background-color: #ecf9ff;
}

.brown .table tbody {
  background-color: #f4f4f4;
}

.gray .table tbody {
  background-color: #f0f0f0;
}

.green .table tbody {
  background-color: #eeffef;
}

.pink .table tbody {
  background-color: #fff7fa;
}

.purple .table tbody {
  background-color: #f7f2ff;
}

.red .table tbody {
  background-color: #fff9f9;
}

.white .table tbody {
  background-color: #f6f7f8;
}

.yellow .table tbody {
  background-color: #fffade;
}


.damage-cat {
  max-width: 33px;
  margin-bottom: 0;
  margin-top: 7px;
}

.moveTypes {
  .icon {
    height: 20px;
    width: 20px;
    margin: -5px;
    padding: 0;
  }
}

.GameVersions .col {
  flex-basis: 12%;
}

.moveDetails {
  width: 100px;
  margin: 0 4px 0 4px;

  img {
    width: 55%;
    height: 55%;
  }
}

.Physical {
  background: #D3425F;
  box-shadow: 0 0 20px #D3425F;
}

.Special {
  background: #0C69C8;
  box-shadow: 0 0 20px #0C69C8;
}

.Status {
  background: #929292;
  box-shadow: 0 0 20px #929292;
}

.beauty {
  background: #539DDF;
  box-shadow: 0 0 20px #539DDF;
}

.cool {
  background-color: #ffc619;
  box-shadow: 0 0 20px #ffc619;
}

.cute {
  background-color: #ff6096;
  box-shadow: 0 0 20px #ff6096;
}

.smart {
  background: #5FBD58;
  box-shadow: 0 0 20px #5FBD58;
}

.tough {
  background-color: #607d8b;
  box-shadow: 0 0 20px #607d8b;
}

.damage-icon {
  max-width: 33px;
}

@media (min-width: 1301px) {
  .SubSections {
    .inner {
      table th, table td {
        padding: 0.33rem;
      }
    }
  }
}

@media (max-width: 1300px) and (min-width: 992px) {
  .table th, .table td {
    padding-right: 0.0rem;
    padding-left: 0.5rem;
  }
  .SubSections {
    .inner {
      table th, table td {
        padding: 0.25rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .SubSections {
    .inner {
      table th, table td {
        padding: 0.25rem;
      }
    }
  }
  .GameVersions .col {
    flex-basis: 10%;
  }
}

@media (max-width: 767px) {
  .row .col-sm {
    flex-basis: unset;
  }
  .evo-arrow {
    transform: rotate(90deg);
    padding: 10px;
  }
  .multi-evo-stage {
    flex-direction: row;
  }
  .arrow-div {
    //padding-top: 1rem;
  }
  .multi-arrow-stage {
    flex-direction: row;
    padding-top: 0.5rem;
    flex-basis: 100%;

    .col-sm {
      padding-bottom: initial;
      padding-top: initial;
    }

    .arrow-div {
      flex-basis: 100%;
    }
  }
  .Heading {
    font-size: medium;
  }
  .SubSections {
    .inner {
      font-size: small;
      width: auto;

      table th, table td {
        padding: 0.25rem;
      }
    }
  }
  .damage-cat {
    max-width: 28px;
  }
  .SubSections .row .col {
    flex-basis: unset;
  }
  .GameVersions .col {
    flex-basis: 16% !important;
  }
  .MovesTable {
    padding-bottom: 3rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;

    .col {
      padding-right: 0;
      padding-left: 0;
    }

    td {
      .damage-icon {
        max-width: 28px;
      }

      padding-right: 0;
      padding-left: 0;
    }
  }
  .scrollableTable {
    thead, tbody {
      .Col1, .Col3, .Col4, .Col5, .Col6, .Col7 {
        flex: 0 0 9.722222%;
        max-width: 9.722222%;
      }

      .Col2 {
        flex: 0 0 41.666666%;
        max-width: 41.666666%;
      }

      .Col8, .Col9 {
        display: none;
      }
    }
  }
}


@media (max-width: 500px) {
  .evo-div {
    font-size: x-small;
    padding: 0 !important;
  }
  .evo-img {
    //max-width: 75%;
    max-width: 50px;
  }
  .evo-desc {
    font-size: x-small;
  }
  .Heading {
    font-size: medium;
  }
  .damage-cat {
    max-width: 28px;
  }
  .SubSections .row .col {
    flex-basis: 50%;

    .btn {
      font-size: x-small;
    }
  }
  .GameVersions .col {
    flex-basis: 21% !important;
  }
  #moveModal .modal-body {
    font-size: small;
  }
  .scrollableTable {
    thead, tbody {
      .Col1 {
        flex: 0 0 13%;
        max-width: 13%;
      }

      .Col2 {
        flex: 0 0 36.666666%;
        max-width: 36.666666%;
      }

      .Col3 {
        flex: 0 0 8.722222%;
        max-width: 8.722222%;
      }

      .Col4 {
        flex: 0 0 8.722222%;
        max-width: 8.722222%;
      }

      .Col5 {
        flex: 0 0 11.722222%;
        max-width: 11.722222%;
      }

      .Col7 {
        padding-left: 0;
        flex: 0 0 11.444444%;
        max-width: 11.444444%;
      }

      .Col8, .Col9 {
        display: none;
      }
    }

    thead {
      .Col3 {
        flex: 0 0 17.444444%;
        max-width: 17.444444%;
      }

      .Col4 {
        display: none;
      }

      .Col5 {
        flex: 0 0 12.722222%;
        max-width: 12.722222%;
      }

      .Col6 {
        flex: 0 0 8.722222%;
        max-width: 8.722222%;
      }
    }
  }
}

@media(max-width: 400px) {
  .scrollableTable {
    font-size: smaller !important;
    width: auto;
  }
  .scrollableTable {
    thead, tbody {
      .Col1 {
        flex: 0 0 13%;
        max-width: 13%;
      }

      .Col2 {
        flex: 0 0 35.666666%;
        max-width: 35.666666%;
      }

      .Col3 {
        flex: 0 0 8.722222%;
        max-width: 8.722222%;
      }

      .Col4 {
        flex: 0 0 8.722222%;
        max-width: 8.722222%;
      }

      .Col5 {
        flex: 0 0 11.722222%;
        max-width: 11.722222%;
      }

      .Col7 {
        padding-left: 0;
        flex: 0 0 12.444444%;
        max-width: 12.444444%;
      }

      .Col8, .Col9 {
        display: none;
      }
    }

    thead {
      .Col3 {
        flex: 0 0 17.444444%;
        max-width: 17.444444%;
      }

      .Col4 {
        display: none;
      }

      .Col5 {
        flex: 0 0 12.722222%;
        max-width: 12.722222%;
      }

      .Col6 {
        flex: 0 0 8.722222%;
        max-width: 8.722222%;
      }
    }
  }
}

@media (max-width: 380px) {
  .GameVersions .col {
    flex-basis: 26% !important;
  }
  .damage-icon {
    max-width: 23px !important;
  }
  .moveTypes .icon {
    height: 18px;
    width: 18px;
  }
}

@media(max-width: 355px) {
  .SubSections {
    .inner {
      font-size: x-small;
      width: auto;
    }
  }
  .ability {
    font-size: x-small;
  }
}

@media (max-width: 320px) {
  .evo-div {
    font-size: xx-small;
    padding: 0 !important;
  }
  .evo-img {
    //max-width: 75%;
    max-width: 50px;
  }
  .evo-desc {
    font-size: xx-small;
  }
  .SubSections {
    .inner {
      font-size: x-small;
      width: auto;
    }
  }
  .damage-cat {
    max-width: 22px;
  }
}

.disableClicking {
  pointer-events: none;
}

.loadingCursor {
  cursor: progress;
}
