<div class="col-12 fadeIn MainDiv" *ngIf="pokemon!==undefined">
  <!--  <button type="button" class="btn" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>-->
  <br>
  <h1 class="text-center text-capitalize PokemonName" [ngClass]="{fOut:!visible}">{{pokemon.name}}</h1>
  <div class="justify-content-center text-center">
    <!--    Had Padding Buttom 20px-->
    <span style="padding: 4px" *ngIf="pokemon.genera===undefined"> </span>
    <span style="padding: 4px" class="genera text-capitalize {{pokemon.color}} rounded fadeIn" data-toggle="modal"
          data-target="#descModal"
          *ngIf="pokemon.genera!=undefined">{{pokemon.genera[2]['genus']}}</span>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-3 bioDiv d-flex flex-wrap justify-content-center" [ngClass]="{fOut:!visible}">
      <div class="inner">
        <table class="table table-borderless">
          <tr>
            <td class="text-right font-weight-bold">ID</td>
            <td>#{{pokemon.id}}</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold">Height</td>
            <td>{{heightInMetres + "m ( " + heightInFeetInches + " )"}}</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold">Weight</td>
            <td>{{weightInKgs + "kg ( " + weightInPounds + "lbs. )"}}</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold">Abilities</td>
            <td>
            <span class="abilities" *ngFor="let ability of pokemon.abilities; let i=index">
              <ng-container *ngIf="i==2"><br></ng-container>
              <span class="ability {{pokemon.color}} text-uppercase" [ngClass]="{'hiddenAbility':ability['is_hidden']}"
                    role="button"
                    (click)="abilitySelect(i)" style="white-space:nowrap;"
                    [ngStyle]="{'display':i==2?'inline-block':'unset','margin-top':i==2?'5px':'0px'}"
                    data-toggle="modal" data-target="#abilityModal">{{ability['ability']['name']}}</span>
          </span>
            </td>
          </tr>
          <!--          <tr>-->
          <!--            <td class="text-right font-weight-bold">Color</td>-->
          <!--            <td class="text-capitalize">{{pokemon.color}}</td>-->
          <!--          </tr>-->
          <tr>
            <td class="text-right font-weight-bold" style="vertical-align: middle;">Type</td>
            <td>
              <div class="row" style="flex-wrap: nowrap">
                <div class="text-capitalize" *ngFor="let type of pokemon.types">
                  <ng-container [ngSwitch]="type['type']['name']">
                    <div class="row icon bug" *ngSwitchCase="'bug'"><span class="col-8 text-white">Bug</span><span
                      class="col-4"><img class="img-fluid" src="assets/type-icons/bug.svg"></span></div>
                    <div class="row icon dark" *ngSwitchCase="'dark'"><span class="col-8 text-white">Dark</span><span
                      class="col-4"><img class="img-fluid" src="assets/type-icons/dark.svg"></span></div>
                    <div class="row icon dragon" *ngSwitchCase="'dragon'"><span
                      class="col-8 text-white">Dragon</span><span class="col-4"><img class="img-fluid"
                                                                                     src="assets/type-icons/dragon.svg"></span>
                    </div>
                    <div class="row icon electric" *ngSwitchCase="'electric'"><span
                      class="col-8 text-white">Electric</span><span class="col-4"><img class="img-fluid"
                                                                                       src="assets/type-icons/electric.svg"></span>
                    </div>
                    <div class="row icon fire" *ngSwitchCase="'fire'"><span class="col-8 text-white">Fire</span><span
                      class="col-4"><img class="img-fluid" src="assets/type-icons/fire.svg"></span></div>
                    <div class="row icon fairy" *ngSwitchCase="'fairy'"><span class="col-8 text-white">Fairy</span><span
                      class="col-4"><img class="img-fluid" src="assets/type-icons/fairy.svg"></span></div>
                    <div class="row icon fighting" *ngSwitchCase="'fighting'"><span
                      class="col-8 text-white">Fighting</span><span class="col-4"><img class="img-fluid"
                                                                                       src="assets/type-icons/fighting.svg"></span>
                    </div>
                    <div class="row icon flying" *ngSwitchCase="'flying'"><span
                      class="col-8 text-white">Flying</span><span class="col-4"><img class="img-fluid"
                                                                                     src="assets/type-icons/flying.svg"></span>
                    </div>
                    <div class="row icon ghost" *ngSwitchCase="'ghost'"><span class="col-8 text-white">Ghost</span><span
                      class="col-4"><img class="img-fluid" src="assets/type-icons/ghost.svg"></span></div>
                    <div class="row icon grass" *ngSwitchCase="'grass'"><span class="col-8 text-white">Grass</span><span
                      class="col-4"><img class="img-fluid" src="assets/type-icons/grass.svg"></span></div>
                    <div class="row icon ground" *ngSwitchCase="'ground'"><span
                      class="col-8 text-white">Ground</span><span class="col-4"><img class="img-fluid"
                                                                                     src="assets/type-icons/ground.svg"></span>
                    </div>
                    <div class="row icon ice" *ngSwitchCase="'ice'"><span class="col-8 text-white">Ice</span><span
                      class="col-4"><img class="img-fluid" src="assets/type-icons/ice.svg"></span></div>
                    <div class="row icon normal" *ngSwitchCase="'normal'"><span
                      class="col-8 text-white">Normal</span><span class="col-4"><img class="img-fluid"
                                                                                     src="assets/type-icons/normal.svg"></span>
                    </div>
                    <div class="row icon poison" *ngSwitchCase="'poison'"><span
                      class="col-8 text-white">Poison</span><span class="col-4"><img class="img-fluid"
                                                                                     src="assets/type-icons/poison.svg"></span>
                    </div>
                    <div class="row icon psychic" *ngSwitchCase="'psychic'"><span
                      class="col-8 text-white">Psychic</span><span class="col-4"><img class="img-fluid"
                                                                                      src="assets/type-icons/psychic.svg"></span>
                    </div>
                    <div class="row icon rock" *ngSwitchCase="'rock'"><span class="col-8 text-white">Rock</span><span
                      class="col-4"><img class="img-fluid" src="assets/type-icons/rock.svg"></span></div>
                    <div class="row icon steel" *ngSwitchCase="'steel'"><span class="col-8 text-white">Steel</span><span
                      class="col-4"><img class="img-fluid" src="assets/type-icons/steel.svg"></span></div>
                    <div class="row icon water" *ngSwitchCase="'water'"><span class="col-8 text-white">Water</span><span
                      class="col-4"><img class="img-fluid" src="assets/type-icons/water.svg"></span></div>
                  </ng-container>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold">Forms</td>
            <td class="formsBlock text-capitalize">
              <span class="varieties" *ngFor="let formName of formattedFormNames;let i=index" style="white-space: pre;">
                <span class="variety {{pokemon.color}} text-uppercase"

                      (click)="selectForm(i)" [ngClass]="{selectedForm:selectedFormNo===i}"
                >{{formName}}</span>
                <ng-container *ngIf="(i+1)%2==0"><br></ng-container>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-5 d-flex flex-wrap align-items-center">
      <!--      <img class="img-fluid mx-auto my-auto d-block pokeball-spinner fade" src="assets/pokeball-loading.png"-->
      <!--                style="z-index: 995;height: 60%" *ngIf="imageLoading">-->
      <div class="image-container">
        <img class="Image img-fluid mx-auto my-auto d-block fadeInOut" [src]="pokemonImageUrl" alt=""
             (load)="imagePreload()"
             [ngClass]="{fade: !imageLoading,fOut :!imageVisible}"
             style="z-index: 994!important;max-width: 85%;height: auto;padding-top: 10px">
      </div>
    </div>
    <div class="col-lg-3 statDiv my-auto mx-auto d-flex flex-wrap justify-content-center">
      <div class="inner">
        <table class="table table-borderless">
          <tr>
            <td></td>
            <td>
              <button class="btn rounded-pill font-weight-bold" (click)="showStats('base')"
                      [ngClass]="selectedStat=='base' ? pokemon.color : null">Base
              </button>
            </td>
            <td>
              <button class="btn rounded-pill font-weight-bold" (click)="showStats('min')"
                      [ngClass]="selectedStat=='min' ? pokemon.color : null">Min
              </button>
            </td>
            <td>
              <button class="btn rounded-pill font-weight-bold" (click)="showStats('max')"
                      [ngClass]="selectedStat=='max' ? pokemon.color : null">Max
              </button>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">HP</td>
            <td colspan="3">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar"
                     aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngClass]="pokemon.color"
                     style="width:{{stats[0]}}"><span>{{statsToShow[0]}}</span></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">Attack</td>
            <td colspan="3">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar"
                     aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngClass]="pokemon.color"
                     style="width:{{stats[1]}}"><span>{{statsToShow[1]}}</span></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">Defence</td>
            <td colspan="3">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar"
                     aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngClass]="pokemon.color"
                     style="width:{{stats[2]}}"><span>{{statsToShow[2]}}</span></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">Sp. Attack</td>
            <td colspan="3">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar"
                     aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngClass]="pokemon.color"
                     style="width:{{stats[3]}}"><span>{{statsToShow[3]}}</span></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">Sp. Defence</td>
            <td colspan="3">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar"
                     aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngClass]="pokemon.color"
                     style="width:{{stats[4]}}"><span>{{statsToShow[4]}}</span></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">Speed</td>
            <td colspan="3">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar"
                     aria-valuenow="" aria-valuemin="0" aria-valuemax="255" [ngClass]="pokemon.color"
                     style="width:{{stats[5]}}"><span>{{statsToShow[5]}}</span></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">Total</td>
            <td colspan="3">
              {{totalBaseStats()}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- Ability Modal -->
  <div class="modal fade" id="abilityModal" tabindex="-1" role="dialog" aria-labelledby="abilityModal"
       aria-hidden="true" #abilityModal>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" *ngIf="allAbilitiesReceived">
        <div class="">
          <div class="text-center">
            <div class="row" style="margin-top: 20px">
              <h5 class="col-12 text-uppercase text-center"
                  id="abilityModalTitle">{{abilities[abilitySelected]['name']}}</h5>
            </div>
            <span class="{{pokemon.color}} rounded justify-content-center" style="padding: 4px 6px"
                  *ngIf="pokemon.abilities[abilitySelected]!=undefined&&pokemon.abilities[abilitySelected]['is_hidden']">HIDDEN</span>
          </div>
          <hr style="margin-top: 10px;margin-bottom: 5px">
        </div>
        <div class="modal-body justify-content-center text-center">
          <span class="{{pokemon.color}} rounded text-center font-weight-bolder"
                style="padding: 4px; font-size: larger">GAME DESCRIPTION</span>
          <p style="padding-top: 6px">{{abilities[abilitySelected]['flavor_text_entries'][2]['flavor_text']}}</p>
          <span class="{{pokemon.color}} rounded text-center font-weight-bolder"
                style="padding: 4px; font-size: larger">EFFECT</span>
          <p style="padding-top: 6px">{{abilities[abilitySelected]['effect_entries'][0]['short_effect']}}</p>
          <span class="{{pokemon.color}} rounded text-center font-weight-bolder"
                style="padding: 4px; font-size: larger">IN-DEPTH EFFECT</span>
          <p style="padding-top: 6px">{{abilities[abilitySelected]['effect_entries'][0]['effect']}}</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--FlavorTextModal-->
  <div class="modal fade" id="descModal" tabindex="-1" role="dialog" aria-labelledby="descModal"
       aria-hidden="true" #descModal>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" *ngIf="pokemon.speciesDetails!==undefined">
        <div class="">
          <div class="text-center">
            <div class="row" style="margin-top: 20px">
              <h5 class="col-12 text-uppercase text-center"
                  id="descModalTitle">{{pokemon.name}}</h5>
            </div>
            <span class="{{pokemon.color}} rounded justify-content-center"
                  style="padding: 4px 6px">Pokédex Entries</span>
          </div>
          <hr style="margin-top: 10px;margin-bottom: 5px">
        </div>
        <div class="modal-body justify-content-center text-center">
          <ng-container *ngFor="let entry of pokemon.speciesDetails['flavor_text_entries']">
            <ng-container *ngIf="entry['language']['name']==='en'">
            <span class="{{pokemon.color}} rounded text-center font-weight-bolder"
                  style="padding: 4px; font-size: larger">Pokémon {{entry['version']['name'].replace('-', ' ')|titlecase}}</span>
              <p style="padding-top: 6px">{{entry['flavor_text'].replace('', ' ')}}</p>
            </ng-container>
          </ng-container>

          <!--        <span class="{{pokemon.color}} rounded text-center font-weight-bolder"-->
          <!--              style="padding: 4px; font-size: larger">EFFECT</span>-->
          <!--        <p style="padding-top: 6px">{{abilities[abilitySelected]['effect_entries'][0]['short_effect']}}</p>-->
          <!--        <span class="{{pokemon.color}} rounded text-center font-weight-bolder"-->
          <!--              style="padding: 4px; font-size: larger">IN-DEPTH EFFECT</span>-->
          <!--        <p style="padding-top: 6px">{{abilities[abilitySelected]['effect_entries'][0]['effect']}}</p>-->
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
