.MainDiv {
  font-family: 'AlleynW01-Regular', sans-serif;
  color: #1f1f1f;
}

//Type Box
.icon {
  border-radius: 4px;
  height: 30px;
  width: 90px;
  filter: saturate(100%) brightness(110%);
  transition: 200ms all;
  margin: 0 0 0 17px;

}

.PokemonName {
  opacity: 1;
  transition: opacity .6s ease-in-out;
}

.bioDiv {
  padding-right: 0;
  //padding-left: 5rem;
  margin-right: 0;
  opacity: 1;
  transition: opacity .6s ease-in-out;
}

.Image {
  opacity: 1;
  transition: opacity .6s ease-in-out;
}

// fOut at the Buttom

.bioDiv .inner {
  //padding-left: 2rem;
}

.statDiv {
  padding-left: 0;
  padding-right: 3rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.statDiv .inner {
  //padding-right: 3rem;
}

.progress {
  //width: 300px;
}


// Type Icons
.icon span {
  color: white;
}

.icon .col-4 {
  padding: 0;
}

.icon .col-8 {
  padding: 5px 0 0 5px;
  margin: 0 0 0 0;
}

.icon:hover {
  filter: saturate(120%) brightness(115%);
  transform: scale(1.05);
  //transform: scale(1.01) rotate3d(0,1,0,360deg);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
}

// Abilities Styling
.abilities, .varieties:hover {
  cursor: pointer;
}

.ability, .variety {
  border-radius: 2px;
  padding: 2px 3px;
  margin-right: 6px;
  white-space: nowrap;
  line-height: initial;
}

.variety {
  margin-top: 5px;
  display: inline-block;
}

.formsBlock {
  padding-top: 8px;
}

.hiddenAbility, .selectedForm {
  //border-radius: 2px;
  //padding: 2px;
  filter: brightness(110%) saturate(50%);
}

// Fade-In Effect For Image
.fadeInOut {
  -moz-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  -webkit-transition: opacity 2s ease-out;
  transition: opacity 2s ease-out;
  opacity: 0;
}

.fade {
  opacity: 1;
}

// Fade-In Effect For Other Elements
.fadeIn {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  animation-name: fadein;
  animation-play-state: running;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Perspective only for desktops
@media only screen and (min-width: 992px) {
  // BioDIv
  .bioDiv {
    perspective: 400px; // Increases Effect
    //margin: 4em auto;
    margin: auto 1rem;
    //padding-right: revert;
    width: 37em;
  }

  .bioDiv:hover .inner {
    transform: rotate(0)

  }

  .bioDiv .inner {
    transition: .3s;
    transform: rotateY(30deg);
  }
  // statDiv
  .statDiv {
    perspective: 400px;
    margin: 4em auto;
    width: 37em;
    padding-left: 0;
    padding-right: 1rem; // Changed 0 earlier
    -webkit-font-smoothing: antialiased !important;
    //-webkit-filter: blur(0);
    //-webkit-backface-visibility: hidden;
    //-webkit-transform: translateZ(0) scale(1.0, 1.0);
    //transform: translateZ(0);
    //margin-right: 30px;
  }

  .statDiv:hover .inner {
    transform: rotate(0);
  }

  .statDiv .inner {
    transition: .3s;
    transform: rotateY(-30deg);
  }
}

//Initial Stat Bar Color
.progress {
  //height: 20px;
}

.progress-bar {
  background-color: white;
  width: 0;
  //height: 20px;
  font-size: 1rem;
  text-align: right;
  //transition: width 1s ease-in;
}

.progress-bar span {
  padding-right: 4px;
}


// Colors
.black {
  background-color: #607d8b !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.blue {
  background-color: #81d4fa !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.brown {
  background-color: #bcaaa4 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.gray {
  background-color: #a6a6a6 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.green {
  background-color: #81c784 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.pink {
  background-color: #f8bbd0 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.purple {
  background-color: #ad8ee7 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.red {
  background-color: #ff8a80 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.white {
  background-color: #d5dbe1 !important;
  color: dimgray !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}

.yellow {
  background-color: #ffd600 !important;
  color: white !important;
  transition: background-color 1000ms ease-in, width 1500ms ease-in-out;
}


// Colors For Abilities
.modal-content {
  -webkit-box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.13);
}


.genera:hover {
  cursor: pointer;
}

.pokeball-spinner {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//.fade {
//  //transform: scale(0);
//  //color: red;
//  //opacity: 0;
//  //-webkit-transition: all 9s linear;
//  //-o-transition: all .25s linear;
//  //opacity: 0 !important;
//  transition: all .1s linear !important;
//}
//
//.fade.in {
//  //opacity: 1 !important;
//  //color: black;
//  //transform: scale(1);
//  //transition: all 0.1s linear !important;
//}


//@media (min-width: 992px){
//
//  }
//}
@media(max-width: 991px) {
  .bioDiv {
    padding-left: 0 !important;
  }
  .bioDiv .inner {
    padding: 0 !important;
  }
  .ability, .variety {
    white-space: pre !important;
  }
  table td {
    padding: 0.50rem;
  }
  .formsBlock {
    padding-top: 4px !important;
  }
}

@media(max-width: 500px) {
  .PokemonName {
    font-size: x-large;
  }
  table td {
    padding: 0.50rem;
  }
  .abilities, .varieties {
    font-size: small !important;
  }
  .varieties {
    display: inline-block; // new
  }
  //.formsBlock {
  //  max-width: 75vw;
  //}
  .bioDiv .inner{
    width: min-content;
  }
  .statDiv .inner {
    padding-top: 1rem;
  }
  .statDiv {
    padding-right: 0 !important;
  }
  #abilityModal {
    font-size: small !important;
  }
  #descModal {
    font-size: small !important;
  }
}

@media(max-width: 320px) {
  //.abilities, .varieties {
  //  font-size: x-small !important;
  //}
  .statDiv .inner {
    font-size: x-small !important;
    padding-top: 1rem;
  }
  #abilityModal {
    font-size: x-small !important;
  }
  #descModal {
    font-size: x-small !important;
  }
}

.pkmn-red {
  background-color: red;
}

.pkmn-green {
  background-color: green;
}

.pkmn-blue {
  background-color: blue;
}

.pkmn-yellow {
  background-color: yellow;
}

.pkmn-gold {
  background-color: gold;
}

.pkmn-silver {
  background-color: silver;
}

.pkmn-crystal {
  background-color: cornflowerblue;
}

.pkmn-ruby {
  background-color: orangered;
}

.pkmn-sapphire {
  background-color: dodgerblue;
}

.pkmn-emerald {
  background-color: forestgreen;
}

.pkmn-firered {
  background-color: red;
}

.pkmn-leafgreen {
  background-color: green;
}

.pkmn-diamond {
  background-color: red;
}

.pkmn-pearl {
  background-color: green;
}

.pkmn-platinum {
  background-color: blue;
}

.pkmn-heartgold {
  background-color: red;
}

.pkmn-soulsilver {
  background-color: green;
}

.pkmn-black {
  background-color: black;
}

.pkmn-white {
  background-color: white;
}

.pkmn-black2 {
  background-color: black;
}

.pkmn-white2 {
  background-color: white;
}

.pkmn-x {
  background-color: blue;
}

.pkmn-y {
  background-color: red;
}

.pkmn-omegaruby {
  background-color: green;
}

.pkmn-alphasapphire {
  background-color: blue;
}

.pkmn-sun {
  background-color: red;
}

.pkmn-moon {
  background-color: green;
}

.pkmn-ultrasun {
  background-color: blue;
}

.pkmn-ultramoon {
  background-color: red;
}

.image-container {
  position: relative;
  padding-bottom: calc(85% + 10px); /* ratio of image height to width */
  height: 0;
  overflow: hidden;
  margin: auto;
  //display: contents; to fix vertical align bug after fixing the species preload issue
}

.image-container img {
  position: relative;
  top: 0;
  left: 0;
  //height: auto;
}

.fOut {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.mega-sigil {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: auto;
  height: 50%;
  animation-name: sigil-animation;
  animation-duration: 4s;
}

.sigil-animate {
  animation-duration: 4s;
}

@keyframes sigil-animation {
  0%{
    opacity: 0;
  }
  25% {
    filter: brightness(125%) saturate(125%) drop-shadow(0px 0px 0px rgb(255, 255, 255));
  }
  50% {
    opacity: 1;
    filter: brightness(150%) saturate(150%) drop-shadow(12px 12px 12px rgb(249, 255, 100));
  }
}

.megaSphere {
  //position: absolute;
  //z-index: 996;
  //top: calc(50% - 150px);
  //left: calc(50% - 150px);
  //width: 300px;
  //height: 300px;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 20px 0px #fff,/*white-border*/
    inset 0 0 50px 10px #fff,/*white*/
    inset 0 -20px 30px 0px #f0f, /*pink*/
    inset 0 -40px 30px 10px #4574f5,/*blue*/
    inset 0 -45px 45px 40px #8cc2ff, /*sky-blue*/
    inset 0 -90px 40px 30px #45ff5e,/*green*/
    inset 0 -120px 40px 30px #c1ff45,/*yellow-green*/
    inset 0 10px 10px 40px #fdffb5,/*yellow-white*/
    inset 0 20px 300px 10px #f9ff42,/*yellow*/
    0 0 50px #fff,
    0 0px 10px #f0f,
    0 -5px 30px 0px #f9ff42,
    0 10px 80px #f0f;
}

