<div class="page-wrapper" style="width: 100vw; min-height: 100vh">
<!--&lt;!&ndash;  <div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}" style="width: 100vw">&ndash;&gt;-->
<!--&lt;!&ndash;  <app-sidebar></app-sidebar>&ndash;&gt;-->
  <main class="page-content">
    <app-header class="sticky-top"></app-header>
      <div class="container-fluid">
              <router-outlet></router-outlet>
      </div>
<!--      <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>-->
  </main>
</div>
