<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
  <app-sidebar></app-sidebar>
  <main class="page-content">
      <div class="container-fluid">
          <div class="row">
              <div class="form-group col-md-12">
                  <a href="#" class="btn btn-outline-secondary mr-1 mb-1" (click)="toggleSidebar()">=</a>
                  <a href="#" class="btn btn-outline-secondary mr-1 mb-1" (click)="toggleBackgroundImage()">BackGround</a>
              </div>
          </div>
      </div>
      <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
  </main>
</div>
