<!--<nav id="sidebar" class="sidebar" [ngClass]="{'sidebar-bg' : hasBackgroundImage()}">-->
<!--  <div class="sidebar-content">-->
<!--    <perfect-scrollbar>-->
<!--      <div class="sidebar-header">-->
<!--        <a href="#">PokeDex</a>-->
<!--      </div>-->

<!--&lt;!&ndash;      <div class="sidebar-profile">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="user-pic">&ndash;&gt;-->
<!--&lt;!&ndash;          <img class="img-responsive img-rounded" src="assets/img/user.jpg" alt="User picture">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="user-info">&ndash;&gt;-->
<!--&lt;!&ndash;          <span class="user-name">Shivam&ndash;&gt;-->
<!--&lt;!&ndash;            <strong>Baghel</strong>&ndash;&gt;-->
<!--&lt;!&ndash;          </span>&ndash;&gt;-->
<!--&lt;!&ndash;          <span class="user-role">Administrator</span>&ndash;&gt;-->
<!--&lt;!&ndash;          <span class="user-status">&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="fa fa-circle"></i>&ndash;&gt;-->
<!--&lt;!&ndash;            <span>Online</span>&ndash;&gt;-->
<!--&lt;!&ndash;          </span>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--      <div class="sidebar-search">-->
<!--        <div>-->
<!--          <div class="input-group">-->
<!--            <input type="input" (keydown.enter)="searchEnter()" (keydown.escape)="searchEnter()" class="form-control search-menu" #searchBar-->
<!--                   placeholder="Search..." [(ngModel)]="searchItem">-->
<!--            <div class="input-group-append">-->
<!--              <span class="input-group-text">-->
<!--                <i class="fa fa-search" aria-hidden="true"></i>-->
<!--              </span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;      <div class="sidebar-menu">&ndash;&gt;-->
<!--&lt;!&ndash;        <ul>&ndash;&gt;-->
<!--&lt;!&ndash;          <li *ngFor="let menu of menus" [ngClass]="{'active': menu.active , 'sidebar-dropdown':menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">&ndash;&gt;-->
<!--&lt;!&ndash;            <span *ngIf="menu.type === 'header'">{{menu.title}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;            <a *ngIf="menu.type !== 'header'" href="#" (click)='toggle(menu)'>&ndash;&gt;-->
<!--&lt;!&ndash;              <i class="{{menu.icon}}"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              <span>{{menu.title}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;              <span *ngIf="menu.badge" class="badge badge-pill" [ngClass]="menu.badge.class">{{menu.badge.text}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;            <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">&ndash;&gt;-->
<!--&lt;!&ndash;              <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                <li *ngFor="let submenu of menu.submenus">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a href="#"> {{submenu.title}}&ndash;&gt;-->
<!--&lt;!&ndash;                    <span *ngIf="submenu.badge" class="badge badge-pill" [ngClass]="submenu.badge.class">{{submenu.badge.text}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                  </a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;              </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </perfect-scrollbar>-->
<!--  </div>-->
<!--&lt;!&ndash;  <div class="sidebar-footer">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="dropdown" dropdown>&ndash;&gt;-->

<!--&lt;!&ndash;      <a href="#" dropdownToggle>&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="fa fa-bell"></i>&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="badge badge-pill badge-warning notification">5</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="dropdown-menu notifications" *dropdownMenu>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="notifications-header">&ndash;&gt;-->
<!--&lt;!&ndash;          <i class="fa fa-bell"></i>&ndash;&gt;-->
<!--&lt;!&ndash;          Notifications&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="dropdown-item" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="notification-content">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="icon">&ndash;&gt;-->
<!--&lt;!&ndash;              <i class="fas fa-check text-success border border-success"></i>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="content">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing&ndash;&gt;-->
<!--&lt;!&ndash;                elit. In totam explicabo</div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="notification-time">&ndash;&gt;-->
<!--&lt;!&ndash;                6 minutes ago&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="dropdown-item" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="notification-content">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="icon">&ndash;&gt;-->
<!--&lt;!&ndash;              <i class="fas fa-exclamation text-info border border-info"></i>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="content">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing&ndash;&gt;-->
<!--&lt;!&ndash;                elit. In totam explicabo</div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="notification-time">&ndash;&gt;-->
<!--&lt;!&ndash;                Today&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="dropdown-item" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="notification-content">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="icon">&ndash;&gt;-->
<!--&lt;!&ndash;              <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="content">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing&ndash;&gt;-->
<!--&lt;!&ndash;                elit. In totam explicabo</div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="notification-time">&ndash;&gt;-->
<!--&lt;!&ndash;                Yesterday&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="dropdown-item text-center" href="#">View all notifications</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="dropdown" dropdown>&ndash;&gt;-->
<!--&lt;!&ndash;      <a href="#" dropdownToggle>&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="fa fa-envelope"></i>&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="badge badge-pill badge-success notification">7</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="dropdown-menu messages" *dropdownMenu>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="messages-header">&ndash;&gt;-->
<!--&lt;!&ndash;          <i class="fa fa-envelope"></i>&ndash;&gt;-->
<!--&lt;!&ndash;          Messages&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="dropdown-item" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="message-content">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="pic">&ndash;&gt;-->
<!--&lt;!&ndash;              <img src="assets/img/user.jpg" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="content">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="message-title">&ndash;&gt;-->
<!--&lt;!&ndash;                <strong> Jhon doe</strong>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing&ndash;&gt;-->
<!--&lt;!&ndash;                elit. In totam explicabo</div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="dropdown-item" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="message-content">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="pic">&ndash;&gt;-->
<!--&lt;!&ndash;              <img src="assets/img/user.jpg" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="content">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="message-title">&ndash;&gt;-->
<!--&lt;!&ndash;                <strong> Jhon doe</strong>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing&ndash;&gt;-->
<!--&lt;!&ndash;                elit. In totam explicabo</div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="dropdown-item" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="message-content">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="pic">&ndash;&gt;-->
<!--&lt;!&ndash;              <img src="assets/img/user.jpg" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="content">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="message-title">&ndash;&gt;-->
<!--&lt;!&ndash;                <strong> Jhon doe</strong>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing&ndash;&gt;-->
<!--&lt;!&ndash;                elit. In totam explicabo</div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="dropdown-item text-center" href="#">View all messages</a>&ndash;&gt;-->

<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="dropdown" dropdown>&ndash;&gt;-->
<!--&lt;!&ndash;      <a href="#" dropdownToggle>&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="fa fa-cog"></i>&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="badge-sonar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="dropdown-menu" *dropdownMenu>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="dropdown-item" href="#">My profile</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="dropdown-item" href="#">Help</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="dropdown-item" href="#">Setting</a>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <a href="#">&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="fa fa-power-off"></i>&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</nav>-->
