.card{
  width: 9rem;
  height: 12rem;
  border-radius: 0;
  font-family: 'AlleynW01-Regular', sans-serif;
  font-weight: lighter;
  font-size: medium;
  color: gray;
  transition: background-color 3000ms ease;
}
.card:hover{
  background-color: #dbdbdb;
  transition: background-color 300ms ease;
}
.PokemonImage{
  height: 88px;
}


@media (max-width: 500px) {
  .card {
    width: 6rem;
    height: 8rem;
    font-size: xx-small;
  }
  .PokemonImage {
    height: 60px;
  }

  //For Type Icons
  .icon {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    //margin-left: auto;
    transition: 200ms all;
    margin-right: 2px;
    margin-top: 4px
    //display: inline-flex;
    //text-align: right;
  }
}
//End of type icons
