.card{
  //font-family: 'Roboto', sans-serif;
  font-family: 'AlleynW01-Regular', sans-serif;
  font-weight: lighter;
  //font-size: 0.4rem !important;
  font-size: medium;
  -webkit-font-smoothing: antialiased;
  color: gray;
  transition: background-color 3000ms ease;
}
.card:hover{
  background-color: #dbdbdb;
  transition: background-color 300ms ease;
}
