<div class="pokemon-card" routerLink="/pokemon/{{pokemon.id}}">
  <div class="pokemon-card-info">
    <div class="id-name">
      <span class="card-id">{{pokemon.id}}</span>
      <div class="card-name text-capitalize text-left text-truncate">{{pokemon.name}}</div>
    </div>
    <div class="icons">
      <div class="icon {{type['n']}}" *ngFor="let type of pokemon.types"><img alt="" src="assets/type-icons/png/{{type['n']}}.png"></div>
    </div>
  </div>
  <img class="pokemon-card-img mx-auto" alt="" src="assets/thumbnails-compressed/{{this.pad(this.pokemon.id, 3) + '.png'}}">
</div>