/* You can add global styles to this file, and also import other style files */

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';



body {
  font-size: .9rem;
}

.page-wrapper.toggled .sidebar {
  left: -300px;
}

// angular perfect scrollbar style
.sidebar .ps.ps--scrolling-y>.ps__rail-y,
.sidebar>.ps.ps--scrolling-x>.ps__rail-x,
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent !important;
}

.sidebar .ps.ps--active-y>.ps__rail-y:hover,
.sidebar>.ps.ps--active-y>.ps__rail-y.ps--clicking {
  width: 10px !important;
}

.ps__thumb-y {
  background-color: #fff !important;
  width: 6px!important;
  border-radius: 0px!important;
  opacity: .5;

}
